<!DOCTYPE html>
<html>

<head>
    {% include "elections/head.html" %}
</head>


<body>

{% include "elections/header.html" %}

<div id="wrapper">
    <section>
        {% include "elections/results.html" %}
    </section>


    {% if country_mode %}
        <section>{% include "elections/map.html" %}</section>
    {% endif %}

    {% if borough_mode %}
        <section>{% include "elections/borough.html" %}</section>
    {% endif %}

    {% if pages|length > 0 %}
        <section class="results">{% include "elections/pages.html" %}</section>
    {% endif %}
</div>

</body>

</html>
